In [1]:
import pandas as pd

In [2]:
file="purchase_data.csv"

In [3]:
purchase_data_df=pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# total number of players
players_total=len(purchase_data_df['SN'].unique())
print(players_total)

576

In [5]:
total_player_summary=pd.DataFrame({'Total Players':[players_total]})
total_player_summary

   Total Players
0            576

In [6]:
# number of unique items
unique_item_total=len(purchase_data_df['Item ID'].unique())
print(unique_item_total)

183

In [7]:
# average purchase price
avg_purchase_price=round(purchase_data_df['Price'].mean(),2)
print(avg_purchase_price)

3.05

In [8]:
# total number of purchase
purchase_total=purchase_data_df['Item ID'].count()
print(purchase_total)

780

In [9]:
# total revenue
total_revenue=purchase_data_df['Price'].sum()
print(total_revenue)

2379.77

In [10]:
purchase_analysis_summary=pd.DataFrame({'Number of Unique Items':[unique_item_total],
                                       'Average Price':[avg_purchase_price],
                                       'Number of Purchases':[purchase_total],
                                       'Total Revenue':[total_revenue]})
purchase_analysis_summary['Average Price']=purchase_analysis_summary['Average Price'].map('${:.2f}'.format)
purchase_analysis_summary['Total Revenue']=purchase_analysis_summary['Total Revenue'].map('${:4,.2f}'.format)
purchase_analysis_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [11]:
gender=purchase_data_df['Gender'].unique()
print(gender)

['Male' 'Other / Non-Disclosed' 'Female']

In [12]:
# count of male players
male_player_df=purchase_data_df[purchase_data_df['Gender']=='Male']
male_total=len(male_player_df['SN'].unique())
print(male_total)

484

In [13]:
# percentage of male players
pct_male=round(male_total/players_total*100,2)
print(f'{pct_male}%')

84.03%

In [14]:
# count of female players
female_player_df=purchase_data_df[purchase_data_df['Gender']=='Female']
female_total=len(female_player_df['SN'].unique())
print(female_total)

81

In [15]:
# percentage of female players
pct_female=round(female_total/players_total*100,2)
print(f'{pct_female}%')

14.06%

In [16]:
# count of other / non-Disclosed players
other_player_df=purchase_data_df[purchase_data_df['Gender']=='Other / Non-Disclosed']
other_total=len(other_player_df['SN'].unique())
print(other_total)

11

In [17]:
# percentage of other / non-Disclosed players
pct_other=round(other_total/players_total*100,2)
print(f'{pct_other}%')

1.91%

In [18]:
gender_demographics=pd.DataFrame({'Total Count':[male_total, female_total, other_total],
                                 'Percentage of Players': [pct_male, pct_female, pct_other],
                                 'Gender':['Male','Female','Other / Non-Disclosed']})
gender_demographics.set_index(['Gender'])

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [19]:
# Purchase count by gender
gender_data_df=purchase_data_df.set_index('Gender')
# male
male_purchase_count=len(gender_data_df.loc[['Male'],['Item ID']])
print(male_purchase_count)
# female
female_purchase_count=len(gender_data_df.loc[['Female'],['Item ID']])
print(female_purchase_count)
# other / non-Disclosed
other_purchase_count=len(gender_data_df.loc[['Other / Non-Disclosed'],['Item ID']])
print(other_purchase_count)

652
113
15

In [20]:
# average purchase price
# male
male_avg_price=round(gender_data_df.loc[['Male'],['Price']].mean(),2)
print(male_avg_price)
# female
female_avg_price=round(gender_data_df.loc[['Female'],['Price']].mean(),2)
print(female_avg_price)
# other
other_avg_price=round(gender_data_df.loc[['Other / Non-Disclosed'],['Price']].mean(),2)
print(other_avg_price)

Price    3.02
dtype: float64
Price    3.2
dtype: float64
Price    3.35
dtype: float64

In [21]:
# total purchase value
# male
male_total_purchase_value=round(gender_data_df.loc[['Male'],['Price']].sum(),2)
print(male_total_purchase_value)
# female
female_total_purchase_value=round(gender_data_df.loc[['Female'],['Price']].sum(),2)
print(female_total_purchase_value)
# other
other_total_purchase_value=round(gender_data_df.loc[['Other / Non-Disclosed'],['Price']].sum(),2)
print(other_total_purchase_value)

Price    1967.64
dtype: float64
Price    361.94
dtype: float64
Price    50.19
dtype: float64

In [22]:
# average purchase total per person
#male
male_avg_purchase_total=round(male_total_purchase_value/male_total,2)
print(male_avg_purchase_total)
# female
female_avg_purchase_total=round(female_total_purchase_value/female_total,2)
print(female_avg_purchase_total)
# other
other_avg_purchase_total=round(other_total_purchase_value/other_total,2)
print(other_avg_purchase_total)

Price    4.07
dtype: float64
Price    4.47
dtype: float64
Price    4.56
dtype: float64

In [23]:
gender_groupby_purchase_data_df=purchase_data_df.groupby(['Gender'])
gender_groupby_purchase_data_df['Price'].mean()
gender_groupby_purchase_data_df['Price'].sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [24]:
purchasing_analysis_gender=pd.DataFrame({'Purchase Count':[female_purchase_count, male_purchase_count, other_purchase_count],
                                 'Average Purchase Price': round(gender_groupby_purchase_data_df['Price'].mean(),2),
                                 'Total Purchase Value':gender_groupby_purchase_data_df['Price'].sum(),
                                 'Total Count':[female_total, male_total, other_total]})
purchasing_analysis_gender['Average Total Purchase Per Person']=round(purchasing_analysis_gender['Total Purchase Value']/purchasing_analysis_gender['Total Count'],2)
purchasing_analysis_gender['Average Purchase Price']=purchasing_analysis_gender['Average Purchase Price'].map('${:.2f}'.format)
purchasing_analysis_gender['Total Purchase Value']=purchasing_analysis_gender['Total Purchase Value'].map('${:4,.2f}'.format)
purchasing_analysis_gender['Average Total Purchase Per Person']=purchasing_analysis_gender['Average Total Purchase Per Person'].map('${:4,.2f}'.format)

purchasing_analysis_gender[['Purchase Count','Average Purchase Price','Total Purchase Value','Average Total Purchase Per Person']]

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [25]:
print(purchase_data_df['Age'].max())
print(purchase_data_df['Age'].min())

45
7

In [26]:
# age demographiocs
bins=[0,9.9,14,19,24,29,34,39,46]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
age_purchase_data_df=purchase_data_df.copy()
age_purchase_data_df['Age Group']=pd.cut(age_purchase_data_df['Age'],bins,labels=group_names)
age_purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [27]:
groupby_age_purchase_data_df=age_purchase_data_df.groupby(['Age Group'])
groupby_age_purchase_data_df['Item ID'].count()

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [28]:
round(groupby_age_purchase_data_df['Price'].mean(),2)

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [29]:
groupby_age_purchase_data_df['Price'].sum()

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [30]:
# count of players in age group <10
under_10_df=age_purchase_data_df[age_purchase_data_df['Age Group']=='<10']
count_under_10=len(under_10_df['SN'].unique())
print(count_under_10)

17

In [31]:
# count of players in age group 10-14
age_10_14_df=age_purchase_data_df[age_purchase_data_df['Age Group']=='10-14']
count_10_14=len(age_10_14_df['SN'].unique())
print(count_10_14)

22

In [32]:
# count of players in age group 15-19
age_15_19_df=age_purchase_data_df[age_purchase_data_df['Age Group']=='15-19']
count_15_19=len(age_15_19_df['SN'].unique())
print(count_15_19)

107

In [33]:
# count of players in age group 20-24
age_20_24_df=age_purchase_data_df[age_purchase_data_df['Age Group']=='20-24']
count_20_24=len(age_20_24_df['SN'].unique())
print(count_20_24)

258

In [34]:
# count of players in age group 25-29
age_25_29_df=age_purchase_data_df[age_purchase_data_df['Age Group']=='25-29']
count_25_29=len(age_25_29_df['SN'].unique())
print(count_25_29)

77

In [35]:
# count of players in age group 30-34
age_30_34_df=age_purchase_data_df[age_purchase_data_df['Age Group']=='30-34']
count_30_34=len(age_30_34_df['SN'].unique())
print(count_30_34)

52

In [36]:
# count of players in age group 35-39
age_35_39_df=age_purchase_data_df[age_purchase_data_df['Age Group']=='35-39']
count_35_39=len(age_35_39_df['SN'].unique())
print(count_35_39)

31

In [37]:
# count of players in age group 40+
age_40_plus_df=age_purchase_data_df[age_purchase_data_df['Age Group']=='40+']
count_40_plus=len(age_40_plus_df['SN'].unique())
print(count_40_plus)

12

In [38]:
# Age demographics summary

In [51]:
ad_summary=pd.DataFrame({'Purchase Count': groupby_age_purchase_data_df['Item ID'].count(),
                         'Average Purchase Price': round(groupby_age_purchase_data_df['Price'].mean(),2),
                         'Total Purchase Value': groupby_age_purchase_data_df['Price'].sum(),
                         'Player Count': [count_under_10,count_10_14,count_15_19,
                                          count_20_24,count_25_29,count_30_34,count_35_39,count_40_plus]})
ad_summary['Average Total Purchase Per Person']=round(ad_summary['Total Purchase Value']/ad_summary['Player Count'],2)
ad_summary['Percentage of Player']=round(ad_summary['Player Count']/players_total*100,2)

ad_summary['Average Purchase Price']=ad_summary['Average Purchase Price'].map('${:4,.2f}'.format)
ad_summary['Total Purchase Value']=ad_summary['Total Purchase Value'].map('${:4,.2f}'.format)
ad_summary['Average Total Purchase Per Person']=ad_summary['Average Total Purchase Per Person'].map('${:4,.2f}'.format)


ad_summary[['Player Count', 'Percentage of Player','Purchase Count','Average Purchase Price','Total Purchase Value','Average Total Purchase Per Person']]

,Player Count,Percentage of Player,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Group,,,,,,
<10,17,2.95,23,$3.35,$77.13,$4.54
10-14,22,3.82,28,$2.96,$82.78,$3.76
15-19,107,18.58,136,$3.04,$412.89,$3.86
20-24,258,44.79,365,$3.05,"$1,114.06",$4.32
25-29,77,13.37,101,$2.90,$293.00,$3.81
30-34,52,9.03,73,$2.93,$214.00,$4.12
35-39,31,5.38,41,$3.60,$147.67,$4.76
40+,12,2.08,13,$2.94,$38.24,$3.19

In [40]:
groupby_sn_df=purchase_data_df.groupby(['SN'])
sum_groupby_sn_df=groupby_sn_df['Price'].sum()
top_spender_df=sum_groupby_sn_df.sort_values(ascending=False)
top_5_spender=top_spender_df.head(5)
top_5_spender

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [41]:
top_spender_item_count=groupby_sn_df['Item ID'].count()
top_5_item_count=top_spender_item_count.loc[['Lisosia93','Idastidru52','Chamjask73','Iral74','Iskadarya95']]
top_5_item_count

SN
Lisosia93      5
Idastidru52    4
Chamjask73     3
Iral74         4
Iskadarya95    3
Name: Item ID, dtype: int64

In [42]:
top_spender_summary=pd.DataFrame({'Total Purchase Value':top_5_spender,
                                 'Purchase Count':top_5_item_count,})
top_spender_summary['Average Purchase Price']=round(top_spender_summary['Total Purchase Value']/top_spender_summary['Purchase Count'],2)

top_spender_summary['Total Purchase Value']=top_spender_summary['Total Purchase Value'].map('${:4,.2f}'.format)
top_spender_summary['Average Purchase Price']=top_spender_summary['Average Purchase Price'].map('${:4,.2f}'.format)

top_spender_summary

            Total Purchase Value  Purchase Count Average Purchase Price
SN
Lisosia93                 $18.96               5                  $3.79
Idastidru52               $15.45               4                  $3.86
Chamjask73                $13.83               3                  $4.61
Iral74                    $13.62               4                  $3.40
Iskadarya95               $13.10               3                  $4.37

In [43]:
item_df=purchase_data_df[['Item ID','Item Name','Price']]
item_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [44]:
sorted_item_df=item_df.sort_values(['Item ID'])
sorted_item_df.head()

     Item ID Item Name  Price
204        0  Splinter   1.28
662        0  Splinter   1.28
133        0  Splinter   1.28
150        0  Splinter   1.28
121        1  Crucifer   3.26

In [45]:
groupby_sorted_item_df=sorted_item_df.groupby(['Item ID','Item Name'])

In [46]:
groupby_sorted_item_df['Price'].value_counts()

Item ID  Item Name                                     Price
0        Splinter                                      1.28      4
1        Crucifer                                      3.26      3
2        Verdict                                       2.48      6
3        Phantomlight                                  2.49      6
4        Bloodlord's Fetish                            1.70      5
5        Putrid Fan                                    4.08      4
6        Rusty Skull                                   3.70      2
7        Thorn, Satchel of Dark Souls                  1.33      7
8        Purgatory, Gem of Regret                      3.93      3
9        Thorn, Conqueror of the Corrupted             2.73      4
10       Sleepwalker                                   1.79      4
11       Brimstone                                     3.65      5
12       Dawne                                         1.02      6
13       Serenity                                      1.41      4
14       Possessed Core                                2.61      2
15       Soul Infused Crystal                          2.96      5
16       Restored Bauble                               3.55      4
17       Lazarus, Terror of the Earth                  1.70      4
18       Torchlight, Bond of Storms                    4.65      2
19       Pursuit, Cudgel of Necromancy                 1.02      8
20       Netherbane                                    3.27      5
21       Souleater                                     1.10      5
22       Amnesia                                       2.18      6
23       Crucifer                                      1.99      1
24       Warped Fetish                                 3.81      5
25       Hero Cane                                     4.35      6
26       Unholy Wand                                   1.12      2
27       Riddle, Tribute of Ended Dreams               3.30      1
28       Flux, Destroyer of Due Diligence              1.06      2
29       Chaos, Ender of the End                       1.98      5
                                                                ..
154      Feral Katana                                  4.40      4
155      War-Forged Gold Deflector                     1.01      5
156      Soul-Forged Steel Shortsword                  1.77      5
157      Spada, Etcher of Hatred                       4.80      4
158      Darkheart, Butcher of the Champion            2.45      2
159      Oathbreaker, Spellblade of Trials             3.08      7
160      Azurewrath                                    4.40      6
161      Devine                                        1.76      5
162      Abyssal Shard                                 2.67      5
163      Thunderfury Scimitar                          3.45      5
164      Exiled Doomblade                              1.63      7
165      Bone Crushing Silver Skewer                   4.86      4
166      Thirsty Iron Reaver                           3.07      3
167      Malice, Legacy of the Queen                   3.61      4
168      Sun Strike, Jaws of Twisted Visions           1.48      2
169      Interrogator, Blood Blade of the Queen        2.18      4
170      Shadowsteel                                   3.97      4
171      Scalpel                                       1.79      3
172      Blade of the Grave                            3.14      4
173      Stormfury Longsword                           4.93      2
174      Primitive Blade                               3.47      4
175      Woeful Adamantite Claymore                    4.48      3
176      Relentless Iron Skewer                        2.84      2
177      Winterthorn, Defender of Shifting Worlds      2.08      2
178      Oathbreaker, Last Hope of the Breaking Storm  4.23     12
179      Wolf, Promise of the Moonwalker               4.48      6
180      Stormcaller                                   3.36      1
181      Reaper's Toll                                 1.66      5
182      Toothpick                                     4.03      3
183      Dragon's Greatsword                           1.09      3
Name: Price, Length: 183, dtype: int64

In [47]:
item_summary=pd.DataFrame({'Purchase Count':groupby_sorted_item_df['Price'].value_counts()})
                        
new_item_summary=item_summary.reset_index(inplace=False,drop=False)
new_item_summary['Total Purchase Value']=round(new_item_summary['Price']*new_item_summary['Purchase Count'],2)



top_pop_item=new_item_summary.sort_values(['Purchase Count'],ascending=False)

In [48]:
top_profit_item=new_item_summary.sort_values(['Total Purchase Value'],ascending=False)

In [49]:
top_pop_item['Price']=top_pop_item['Price'].map('${:4,.2f}'.format)
top_pop_item['Total Purchase Value']=top_pop_item['Total Purchase Value'].map('${:4,.2f}'.format)
# top 5 popular items
top_pop_item.head(5)

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
177,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
144,145,Fiery Glass Crusader,$4.58,9,$41.22
107,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
81,82,Nirvana,$4.90,9,$44.10
19,19,"Pursuit, Cudgel of Necromancy",$1.02,8,$8.16

In [50]:
top_profit_item['Price']=top_profit_item['Price'].map('${:4,.2f}'.format)
top_profit_item['Total Purchase Value']=top_profit_item['Total Purchase Value'].map('${:4,.2f}'.format)
# top 5 most profitable items
top_profit_item.head(5)

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
177,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
81,82,Nirvana,$4.90,9,$44.10
144,145,Fiery Glass Crusader,$4.58,9,$41.22
91,92,Final Critic,$4.88,8,$39.04
102,103,Singed Scalpel,$4.35,8,$34.80